HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.git/

### VS Code ###
.vscode/

.env
.env.local
.env.production
.env.development
.env.development.local
.env.production.local

# Logs
*.log
npm-debug.log*

# IDEs
.idea/
*.swp
*.swo

# Node
node_modules/
npm-package-lock.json

application-local.yml
